<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Coming Soon — SafeGuard SA</title>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/images/favicon_io/site.webmanifest">
        <link rel="shortcut icon" href="/images/favicon_io/favicon.ico">

    </head>
    <h1>Welele ⚠️Page comming soon ⚠️</h1>
    <body style="font-family:Inter,sans-serif;display:flex;flex-direction:column;align-items:center;justify-content:center;min-height:100vh;gap:1rem;">
        <h2>🚧 This page will be removed when the SafetyMapController.java and ChatController.java are created 
            </br> its just for testing purposes</h2>
        <a href="/">← Back to Home</a>
    </body>
</html>